*.cs linguist-detectable=true
*.csproj linguist-detectable=true
*.sln linguist-detectable=true
*.razor linguist-language=C#
*.config linguist-vendored
*.json linguist-vendored
*.html linguist-vendored
*.css linguist-vendored
*.js linguist-vendored
*.svg linguist-vendored
*.scss linguist-vendored
